# ==========================
# Build output
# ==========================
build/

# ==========================
# IDE
# ==========================
.vscode/

# ==========================
# Compiled binaries
# ==========================
*.exe
*.o
*.obj
*.dll
*.a

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Temporary files
# ==========================
*.tmp